tags
dist/
.cabal-sandbox/
cabal.sandbox.config
.hdevtools.sock
.stack-work/
.history
microML
.o
.hi
*.cpp
*.aux
*.out
*.toc
*.log
*.pdf
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.glo
*.gls
*.glsdefs
*.ist
*.lof
*.lot
*.ilg
_minted-report
